[buildout]
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
develop = .
parts = interpreter test
versions = versions
extensions = buildout.dumppickedversions

[versions]
grokcore.startup =


[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.startup
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = grokcore.startup [test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
